.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.firstSpan {
  color: #adadad;
}

.secondSpan {
  color: #2895c7;
  text-decoration: none;
}

.login-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin: 10px;
  background-color: salmon;
}

.login-error-text {
  background-color: salmon;
  color: white;
}
