.container {

}

.highlight {
  animation: light 500ms ease-out;
}

@keyframes light {
  from {
    background-color: #cfd0d1;
  }
}

.collapsed .entityList {
  display: none;
}

.notCollapsedIcon {
  display: block;
}

.collapsedIcon {
  display: none;
}

.collapsed .collapsedIcon {
  display: block;
}

.collapsed .notCollapsedIcon {
  display: none;
}

.databaseDetails {
  display: flex;
  align-items: center;
}

.caret {
  font-size: 25px;
  color: #edb627;
  margin-right: 4px;
}

.database-name {
  font-size: 20px;
  color: #2895c7;
  font-weight: bolder;
  margin-left: 4px;
}

.databaseDetails:hover {
  cursor: pointer;
}

.databaseDetails:hover .database-name {
  color: #5eccff;
}
