<div class="container">
  <div class="databaseDetails" appTree>
    <div class="collapsedIcon">
      <fa-icon class="caret" [icon]="caretRight"></fa-icon>
    </div>
    <div class="notCollapsedIcon">
      <fa-icon class="caret" [icon]="caretDown"></fa-icon>
    </div>
    <img width="30px" height="30px" src="../../../../assets/database.png" alt="database"/>
    <span class="database-name">{{databaseName}}</span>
  </div>
  <div class="entityList">
    <ng-content></ng-content>
  </div>
</div>
